.App {
  text-align: center;
}
.profile-pic{
    height: 300px;
    width:300px;
    object-fit: cover;
    border-radius: 50%;
    margin: 50px;
  }

  .profile-pic:hover{
    transform: scale(1.05);
  }

  

  .button{
    height: 40px;
    width:100px;
    border-radius: 10px;
    background-color: white;
    font-weight: bolder;
    font-size: larger;
    color:white;
    background-color: crimson;
  }

  .button:hover{
    cursor: pointer;
    border-width: 2px;
    border-color:red
    ;
  }
  